{% block head %}
{% load static %}
<html>
<head>
<title>BIODATA PPW</title>
</head>
<td rowspan="10" width="100px">
<img src="{%static 'img/lolo.jpg'%}" >
<body>
<p><b>NAMA</b> :   Gibran Gifari Soesman</p>
<p><b>NPM</b> :   1606876462</p>
<p><b>Riwayat Pendidikan</b> :   UI</p>
<p><b>Hobi</b> :   Tidur</p>
<p><b>Deskripsi Tentang Saya</b> :   Bagus</p>
</body>
</html>
{% endblock %}